body {
    background-color: #9C835F;
}

li {
    list-style: none;
}

.title {
    margin-top: 0.5rem;
}

.title h1 {
    color: #724C21;
    font-size: 72px;
    margin-right: 1rem;
    margin-left: 2rem;
}

.title h2 {
    font-family: Open Sans;
    font-weight: bold;
    font-size: 2rem;

    margin-top: 2rem;    
    color: #F9B23D;
}

.title img {
    margin-top: 1rem;
    margin-right: 1rem;
    width: 5rem;    
}


.game-area img {
    width: 8rem;
    height: 6rem;
    margin-bottom: 3rem;
    margin-top: 1rem;
}

.game-area img {
    width: 8rem;
    height: 6rem;
    margin-bottom: 3rem;
}

.reset {
    width: 4rem;
    height: 4rem;
    margin-top: -5rem;
    margin-left: -6rem;    
}

.game-area h2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 144px;
    line-height: 196px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #BD0000;
    margin-left: -7rem;
}

.btn {       
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(196, 196, 196, 0);
}

